/* Insurance Qoute Style Sheet */
.form_row-space{
margin-bottom: 10px;
}

div#resultRightMain {
display: none !important;
}

div#btn_step1 {
display: inline-block;
float: left;
margin: 0px;
padding: 0 0;
}

div#btn_step2 {
display: inline-block;
padding: 0px;
}

div#steps_buttons {
margin: 0em;
text-align: center;
display: block;
margin-bottom: 2em;
}

div#sidebar {
display: none;
}

form#stern_taxi_fare_div {
display: none;
}



button#btn_step1 {
background-color: rgba(18, 204, 148, 0.1);
color: #000000;
border: 1px solid #000000;
width: 100%;
text-align: left;
font-size: 16px;
font-weight: 700;
padding: 10px;
-webkit-transition: all 0.2s ease-in-out 0s;
-khtml-transition: all 0.2s ease-in-out 0s;
-moz-transition: all 0.2s ease-in-out 0s;
-ms-transition: all 0.2s ease-in-out 0s;
-o-transition: all 0.2s ease-in-out 0s;
transition: all 0.2s ease-in-out 0s;
}

button#btn_step2 {
background-color: rgba(18, 204, 148, 0.1);
color: #000000;
border: 1px solid #000000;
width: 100%;
text-align: left;
font-size: 16px;
font-weight: 700;
padding: 10px;
-webkit-transition: all 0.2s ease-in-out 0s;
-khtml-transition: all 0.2s ease-in-out 0s;
-moz-transition: all 0.2s ease-in-out 0s;
-ms-transition: all 0.2s ease-in-out 0s;
-o-transition: all 0.2s ease-in-out 0s;
transition: all 0.2s ease-in-out 0s;
}

button#btn_step1:hover {

background-color: #fc3a52;

color: #FFFFFF;

border: 1px solid #000000;

}

button#btn_step2:hover {

background-color: #fc3a52;

color: #FFFFFF;

border: 1px solid #000000;

}

.active_step button {

background-color: #000000 !important;

color: #FFFFFF !important;

}



#step2 .row .checkboxes_step2 input {

box-shadow: none !important;

}



.step_next1btn{

background-color: #000000 !important;

color: #2a363b !important;

border: 0px solid #000000 !important;

width: 100% !important;

padding: 8px 10px;

text-align: center;

font-size: 26px;

font-weight: 700;

margin-top: 20px;

}

#btn_nextstep2inner{

background-color: #000000 !important;

color: #2a363b !important;

border: 0px solid #000000 !important;

width: 100% !important;

padding: 8px 10px;

text-align: center;

font-size: 26px;

font-weight: 700;

margin-top: 20px;

}

span#step_count1 {

background-color: #FFFFFF;

color: #62bc73;

border-radius: 180px;

padding: 2px 9px;

margin-right: 10px;

}

span#step_count2 {

background-color: #FFFFFF;

color: #62bc73;

border-radius: 180px;

padding: 2px 9px;

margin-right: 10px;

}

.info-tooltip-right {

background-color: #000000;

color: #fff;

border-radius: 0px;

padding: 4px 12px;

margin-right: 0px;

width: 28px !important;

height: 28px !important;

}

#step2 .col.col-sm-1 .info-tip_right {

margin-top: 0px;

}

table.step3_tableheading > thead > tr > th {

font-size: 13px;

font-weight: normal!important;

color: #FFFFFF;

background-color: #2a363b!important;

border-right: 1px solid #c9fdd7;

height: 80px;

width: 100%;

}

.table-center {

overflow: auto;

margin: 0px;

padding: 0px;

}

.table-right{

overflow: auto;

margin: 0px;

padding: 0px;

}

.table-left{

overflow: auto;

margin: 0px;

padding: 0px;

}

.table-right-main {

padding: 0px;

}



tbody#all_comp_datathird td {

text-align: center;

}

table.step3_tableheading.table-right th {

text-align: center;

}

button.add-tocartbtn {

background-color: #F08D1D;

color: #FFFFFF;

font-size: 17px;

border-radius: 6px;

text-align: center;

cursor: pointer;

-webkit-transition: all 0.5s;

-khtml-transition: all 0.5s;

-moz-transition: all 0.5s;

-ms-transition: all 0.5s;

-o-transition: all 0.5s;

transition: all 0.5s;

}

button.add-tocartbtn:hover {

color: #FFFFFF;

background-color: #e4800f;

}



table.fitsttablestep3.step3_tableheading tr {

margin-bottom: 1em;

background: #f9f9f9;

}

table.step3_tableheading tr {

margin-bottom: 1em;

background: #f9f9f9;

}



table.fitsttablestep3.step3_tableheading {

border-spacing: 0 1em;

}

table.step3_tableheading {

border-spacing: 0 1em;

}

table.fitsttablestep3.step3_tableheading tr td {

font-size: 12px!important;

color: #000000;

height: 40px !important;

}

table.step3_tableheading.table-right tr td {

height: 40px !important;

padding: 15px 0 9px 0;

text-align: center;

}

table td, table th {

padding: 6px 10px!important;

}



/* Percentage Calculator Css */



.c100.big {

font-size: 216px;

}

.c100 {

position: relative;

font-size: 110px;

width: 1em;

height: 1em;

border-radius: 50%;

margin: 0 auto 0.1em auto;

}

.c100 > span {

font-weight: 500;

position: absolute;

width: 100%;

z-index: 1;

left: -13px;

top: -33px;

width: 5em;

line-height: 5em;

font-size: 0.24em;

color: #555555;

display: block;

text-align: center;

white-space: nowrap;

-webkit-transition-property: all;

-moz-transition-property: all;

-o-transition-property: all;

transition-property: all;

-webkit-transition-duration: 0.2s;

-moz-transition-duration: 0.2s;

-o-transition-duration: 0.2s;

transition-duration: 0.2s;

-webkit-transition-timing-function: ease-out;

-moz-transition-timing-function: ease-out;

-o-transition-timing-function: ease-out;

transition-timing-function: ease-out;

}

.c100 *, .c100 *:before, .c100 *:after {

-webkit-box-sizing: content-box;

-moz-box-sizing: content-box;

box-sizing: content-box;

}



.c100 > span#complete {

font-size: 16px;

top: 108px;

left: 64px;

font-weight: 500;

}

.c100 .slice {

position: absolute;

width: 1em;

height: 1em;

clip: rect(0em, 1em, 1em, 0.5em);

}

.c100.p50 .bar {

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {

position: absolute;

border: 0.11em solid #307bbb;

width: 0.78em;

height: 0.78em;

clip: rect(0em, 0.5em, 1em, 0em);

border-radius: 50%;

-webkit-transform: rotate(0deg);

-moz-transform: rotate(0deg);

-ms-transform: rotate(0deg);

-o-transform: rotate(0deg);

transform: rotate(0deg);

}

.whitecircle {

position: absolute;

font-size: 120px;

top: 24px;

left: 24px;

width: 1.4em;

height: 1.4em;

border-radius: 50%;

float: left;

margin: 0 0.1em 0.1em 0;

background-color: #fc3a52;

}

.c100:after {

position: absolute;

top: 0.13em;

left: 0.13em;

display: block;

content: " ";

border-radius: 50%;

background-color: #DBDDDD;

width: 0.74em;

height: 0.74em;

-webkit-transition-property: all;

-moz-transition-property: all;

-o-transition-property: all;

transition-property: all;

-webkit-transition-duration: 0.2s;

-moz-transition-duration: 0.2s;

-o-transition-duration: 0.2s;

transition-duration: 0.2s;

-webkit-transition-timing-function: ease-out;

-moz-transition-timing-function: ease-out;

-o-transition-timing-function: ease-out;

transition-timing-function: ease-out;

}





/* Progress Bar Css */



.rect-auto,

.c100.p51 .slice,

.c100.p52 .slice,

.c100.p53 .slice,

.c100.p54 .slice,

.c100.p55 .slice,

.c100.p56 .slice,

.c100.p57 .slice,

.c100.p58 .slice,

.c100.p59 .slice,

.c100.p60 .slice,

.c100.p61 .slice,

.c100.p62 .slice,

.c100.p63 .slice,

.c100.p64 .slice,

.c100.p65 .slice,

.c100.p66 .slice,

.c100.p67 .slice,

.c100.p68 .slice,

.c100.p69 .slice,

.c100.p70 .slice,

.c100.p71 .slice,

.c100.p72 .slice,

.c100.p73 .slice,

.c100.p74 .slice,

.c100.p75 .slice,

.c100.p76 .slice,

.c100.p77 .slice,

.c100.p78 .slice,

.c100.p79 .slice,

.c100.p80 .slice,

.c100.p81 .slice,

.c100.p82 .slice,

.c100.p83 .slice,

.c100.p84 .slice,

.c100.p85 .slice,

.c100.p86 .slice,

.c100.p87 .slice,

.c100.p88 .slice,

.c100.p89 .slice,

.c100.p90 .slice,

.c100.p91 .slice,

.c100.p92 .slice,

.c100.p93 .slice,

.c100.p94 .slice,

.c100.p95 .slice,

.c100.p96 .slice,

.c100.p97 .slice,

.c100.p98 .slice,

.c100.p99 .slice,

.c100.p100 .slice {

clip: rect(auto, auto, auto, auto);

}

.pie,

.c100 .bar,

.c100.p51 .fill,

.c100.p52 .fill,

.c100.p53 .fill,

.c100.p54 .fill,

.c100.p55 .fill,

.c100.p56 .fill,

.c100.p57 .fill,

.c100.p58 .fill,

.c100.p59 .fill,

.c100.p60 .fill,

.c100.p61 .fill,

.c100.p62 .fill,

.c100.p63 .fill,

.c100.p64 .fill,

.c100.p65 .fill,

.c100.p66 .fill,

.c100.p67 .fill,

.c100.p68 .fill,

.c100.p69 .fill,

.c100.p70 .fill,

.c100.p71 .fill,

.c100.p72 .fill,

.c100.p73 .fill,

.c100.p74 .fill,

.c100.p75 .fill,

.c100.p76 .fill,

.c100.p77 .fill,

.c100.p78 .fill,

.c100.p79 .fill,

.c100.p80 .fill,

.c100.p81 .fill,

.c100.p82 .fill,

.c100.p83 .fill,

.c100.p84 .fill,

.c100.p85 .fill,

.c100.p86 .fill,

.c100.p87 .fill,

.c100.p88 .fill,

.c100.p89 .fill,

.c100.p90 .fill,

.c100.p91 .fill,

.c100.p92 .fill,

.c100.p93 .fill,

.c100.p94 .fill,

.c100.p95 .fill,

.c100.p96 .fill,

.c100.p97 .fill,

.c100.p98 .fill,

.c100.p99 .fill,

.c100.p100 .fill {

position: absolute;

border: 0.11em solid #000000;

width: 0.78em;

height: 0.78em;

clip: rect(0em, 0.5em, 1em, 0em);

border-radius: 50%;

-webkit-transform: rotate(0deg);

-moz-transform: rotate(0deg);

-ms-transform: rotate(0deg);

-o-transform: rotate(0deg);

transform: rotate(0deg);

}

.pie-fill,

.c100.p51 .bar:after,

.c100.p51 .fill,

.c100.p52 .bar:after,

.c100.p52 .fill,

.c100.p53 .bar:after,

.c100.p53 .fill,

.c100.p54 .bar:after,

.c100.p54 .fill,

.c100.p55 .bar:after,

.c100.p55 .fill,

.c100.p56 .bar:after,

.c100.p56 .fill,

.c100.p57 .bar:after,

.c100.p57 .fill,

.c100.p58 .bar:after,

.c100.p58 .fill,

.c100.p59 .bar:after,

.c100.p59 .fill,

.c100.p60 .bar:after,

.c100.p60 .fill,

.c100.p61 .bar:after,

.c100.p61 .fill,

.c100.p62 .bar:after,

.c100.p62 .fill,

.c100.p63 .bar:after,

.c100.p63 .fill,

.c100.p64 .bar:after,

.c100.p64 .fill,

.c100.p65 .bar:after,

.c100.p65 .fill,

.c100.p66 .bar:after,

.c100.p66 .fill,

.c100.p67 .bar:after,

.c100.p67 .fill,

.c100.p68 .bar:after,

.c100.p68 .fill,

.c100.p69 .bar:after,

.c100.p69 .fill,

.c100.p70 .bar:after,

.c100.p70 .fill,

.c100.p71 .bar:after,

.c100.p71 .fill,

.c100.p72 .bar:after,

.c100.p72 .fill,

.c100.p73 .bar:after,

.c100.p73 .fill,

.c100.p74 .bar:after,

.c100.p74 .fill,

.c100.p75 .bar:after,

.c100.p75 .fill,

.c100.p76 .bar:after,

.c100.p76 .fill,

.c100.p77 .bar:after,

.c100.p77 .fill,

.c100.p78 .bar:after,

.c100.p78 .fill,

.c100.p79 .bar:after,

.c100.p79 .fill,

.c100.p80 .bar:after,

.c100.p80 .fill,

.c100.p81 .bar:after,

.c100.p81 .fill,

.c100.p82 .bar:after,

.c100.p82 .fill,

.c100.p83 .bar:after,

.c100.p83 .fill,

.c100.p84 .bar:after,

.c100.p84 .fill,

.c100.p85 .bar:after,

.c100.p85 .fill,

.c100.p86 .bar:after,

.c100.p86 .fill,

.c100.p87 .bar:after,

.c100.p87 .fill,

.c100.p88 .bar:after,

.c100.p88 .fill,

.c100.p89 .bar:after,

.c100.p89 .fill,

.c100.p90 .bar:after,

.c100.p90 .fill,

.c100.p91 .bar:after,

.c100.p91 .fill,

.c100.p92 .bar:after,

.c100.p92 .fill,

.c100.p93 .bar:after,

.c100.p93 .fill,

.c100.p94 .bar:after,

.c100.p94 .fill,

.c100.p95 .bar:after,

.c100.p95 .fill,

.c100.p96 .bar:after,

.c100.p96 .fill,

.c100.p97 .bar:after,

.c100.p97 .fill,

.c100.p98 .bar:after,

.c100.p98 .fill,

.c100.p99 .bar:after,

.c100.p99 .fill,

.c100.p100 .bar:after,

.c100.p100 .fill {

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

.c100 {

position: relative;

font-size: 120px;

width: 1em;

height: 1em;

border-radius: 50%;

margin: 0 auto 0.1em auto;

}

.c100 *,

.c100 *:before,

.c100 *:after {

-webkit-box-sizing: content-box;

-moz-box-sizing: content-box;

box-sizing: content-box;

}

.c100.center {

float: none;

margin: 0 auto;

}

.c100.big {

font-size: 216px;

}

.c100 > span {

font-weight: 500;

position: absolute;

width: 100%;

z-index: 1;

left: -13px;

top: -33px;

width: 5em;

line-height: 5em;

font-size: 0.24em;

color: #000000;

display: block;

text-align: center;

white-space: nowrap;

-webkit-transition-property: all;

-moz-transition-property: all;

-o-transition-property: all;

transition-property: all;

-webkit-transition-duration: 0.2s;

-moz-transition-duration: 0.2s;

-o-transition-duration: 0.2s;

transition-duration: 0.2s;

-webkit-transition-timing-function: ease-out;

-moz-transition-timing-function: ease-out;

-o-transition-timing-function: ease-out;

transition-timing-function: ease-out;

}

.c100 > span#complete {

font-size: 16px;

top: 108px;

left: 64px;

font-weight: 500;

}

.c100:after {

position: absolute;

top: 0.13em;

left: 0.13em;

display: block;

content: " ";

border-radius: 50%;

background-color: #f9f9f9;

width: 0.74em;

height: 0.74em;

-webkit-transition-property: all;

-moz-transition-property: all;

-o-transition-property: all;

transition-property: all;

-webkit-transition-duration: 0.2s;

-moz-transition-duration: 0.2s;

-o-transition-duration: 0.2s;

transition-duration: 0.2s;

-webkit-transition-timing-function: ease-out;

-moz-transition-timing-function: ease-out;

-o-transition-timing-function: ease-out;

transition-timing-function: ease-out;

}

.c100 .slice {

position: absolute;

width: 1em;

height: 1em;

clip: rect(0em, 1em, 1em, 0.5em);

}

.c100.p1 .bar {

-webkit-transform: rotate(3.6deg);

-moz-transform: rotate(3.6deg);

-ms-transform: rotate(3.6deg);

-o-transform: rotate(3.6deg);

transform: rotate(3.6deg);

}

.c100.p2 .bar {

-webkit-transform: rotate(7.2deg);

-moz-transform: rotate(7.2deg);

-ms-transform: rotate(7.2deg);

-o-transform: rotate(7.2deg);

transform: rotate(7.2deg);

}

.c100.p3 .bar {

-webkit-transform: rotate(10.8deg);

-moz-transform: rotate(10.8deg);

-ms-transform: rotate(10.8deg);

-o-transform: rotate(10.8deg);

transform: rotate(10.8deg);

}

.c100.p4 .bar {

-webkit-transform: rotate(14.4deg);

-moz-transform: rotate(14.4deg);

-ms-transform: rotate(14.4deg);

-o-transform: rotate(14.4deg);

transform: rotate(14.4deg);

}

.c100.p5 .bar {

-webkit-transform: rotate(18deg);

-moz-transform: rotate(18deg);

-ms-transform: rotate(18deg);

-o-transform: rotate(18deg);

transform: rotate(18deg);

}

.c100.p6 .bar {

-webkit-transform: rotate(21.6deg);

-moz-transform: rotate(21.6deg);

-ms-transform: rotate(21.6deg);

-o-transform: rotate(21.6deg);

transform: rotate(21.6deg);

}

.c100.p7 .bar {

-webkit-transform: rotate(25.2deg);

-moz-transform: rotate(25.2deg);

-ms-transform: rotate(25.2deg);

-o-transform: rotate(25.2deg);

transform: rotate(25.2deg);

}

.c100.p8 .bar {

-webkit-transform: rotate(28.8deg);

-moz-transform: rotate(28.8deg);

-ms-transform: rotate(28.8deg);

-o-transform: rotate(28.8deg);

transform: rotate(28.8deg);

}

.c100.p9 .bar {

-webkit-transform: rotate(32.4deg);

-moz-transform: rotate(32.4deg);

-ms-transform: rotate(32.4deg);

-o-transform: rotate(32.4deg);

transform: rotate(32.4deg);

}

.c100.p10 .bar {

-webkit-transform: rotate(36deg);

-moz-transform: rotate(36deg);

-ms-transform: rotate(36deg);

-o-transform: rotate(36deg);

transform: rotate(36deg);

}

.c100.p11 .bar {

-webkit-transform: rotate(39.6deg);

-moz-transform: rotate(39.6deg);

-ms-transform: rotate(39.6deg);

-o-transform: rotate(39.6deg);

transform: rotate(39.6deg);

}

.c100.p12 .bar {

-webkit-transform: rotate(43.2deg);

-moz-transform: rotate(43.2deg);

-ms-transform: rotate(43.2deg);

-o-transform: rotate(43.2deg);

transform: rotate(43.2deg);

}

.c100.p13 .bar {

-webkit-transform: rotate(46.800000000000004deg);

-moz-transform: rotate(46.800000000000004deg);

-ms-transform: rotate(46.800000000000004deg);

-o-transform: rotate(46.800000000000004deg);

transform: rotate(46.800000000000004deg);

}

.c100.p14 .bar {

-webkit-transform: rotate(50.4deg);

-moz-transform: rotate(50.4deg);

-ms-transform: rotate(50.4deg);

-o-transform: rotate(50.4deg);

transform: rotate(50.4deg);

}

.c100.p15 .bar {

-webkit-transform: rotate(54deg);

-moz-transform: rotate(54deg);

-ms-transform: rotate(54deg);

-o-transform: rotate(54deg);

transform: rotate(54deg);

}

.c100.p16 .bar {

-webkit-transform: rotate(57.6deg);

-moz-transform: rotate(57.6deg);

-ms-transform: rotate(57.6deg);

-o-transform: rotate(57.6deg);

transform: rotate(57.6deg);

}

.c100.p17 .bar {

-webkit-transform: rotate(61.2deg);

-moz-transform: rotate(61.2deg);

-ms-transform: rotate(61.2deg);

-o-transform: rotate(61.2deg);

transform: rotate(61.2deg);

}

.c100.p18 .bar {

-webkit-transform: rotate(64.8deg);

-moz-transform: rotate(64.8deg);

-ms-transform: rotate(64.8deg);

-o-transform: rotate(64.8deg);

transform: rotate(64.8deg);

}

.c100.p19 .bar {

-webkit-transform: rotate(68.4deg);

-moz-transform: rotate(68.4deg);

-ms-transform: rotate(68.4deg);

-o-transform: rotate(68.4deg);

transform: rotate(68.4deg);

}

.c100.p20 .bar {

-webkit-transform: rotate(72deg);

-moz-transform: rotate(72deg);

-ms-transform: rotate(72deg);

-o-transform: rotate(72deg);

transform: rotate(72deg);

}

.c100.p21 .bar {

-webkit-transform: rotate(75.60000000000001deg);

-moz-transform: rotate(75.60000000000001deg);

-ms-transform: rotate(75.60000000000001deg);

-o-transform: rotate(75.60000000000001deg);

transform: rotate(75.60000000000001deg);

}

.c100.p22 .bar {

-webkit-transform: rotate(79.2deg);

-moz-transform: rotate(79.2deg);

-ms-transform: rotate(79.2deg);

-o-transform: rotate(79.2deg);

transform: rotate(79.2deg);

}

.c100.p23 .bar {

-webkit-transform: rotate(82.8deg);

-moz-transform: rotate(82.8deg);

-ms-transform: rotate(82.8deg);

-o-transform: rotate(82.8deg);

transform: rotate(82.8deg);

}

.c100.p24 .bar {

-webkit-transform: rotate(86.4deg);

-moz-transform: rotate(86.4deg);

-ms-transform: rotate(86.4deg);

-o-transform: rotate(86.4deg);

transform: rotate(86.4deg);

}

.c100.p25 .bar {

-webkit-transform: rotate(90deg);

-moz-transform: rotate(90deg);

-ms-transform: rotate(90deg);

-o-transform: rotate(90deg);

transform: rotate(90deg);

}

.c100.p26 .bar {

-webkit-transform: rotate(93.60000000000001deg);

-moz-transform: rotate(93.60000000000001deg);

-ms-transform: rotate(93.60000000000001deg);

-o-transform: rotate(93.60000000000001deg);

transform: rotate(93.60000000000001deg);

}

.c100.p27 .bar {

-webkit-transform: rotate(97.2deg);

-moz-transform: rotate(97.2deg);

-ms-transform: rotate(97.2deg);

-o-transform: rotate(97.2deg);

transform: rotate(97.2deg);

}

.c100.p28 .bar {

-webkit-transform: rotate(100.8deg);

-moz-transform: rotate(100.8deg);

-ms-transform: rotate(100.8deg);

-o-transform: rotate(100.8deg);

transform: rotate(100.8deg);

}

.c100.p29 .bar {

-webkit-transform: rotate(104.4deg);

-moz-transform: rotate(104.4deg);

-ms-transform: rotate(104.4deg);

-o-transform: rotate(104.4deg);

transform: rotate(104.4deg);

}

.c100.p30 .bar {

-webkit-transform: rotate(108deg);

-moz-transform: rotate(108deg);

-ms-transform: rotate(108deg);

-o-transform: rotate(108deg);

transform: rotate(108deg);

}

.c100.p31 .bar {

-webkit-transform: rotate(111.60000000000001deg);

-moz-transform: rotate(111.60000000000001deg);

-ms-transform: rotate(111.60000000000001deg);

-o-transform: rotate(111.60000000000001deg);

transform: rotate(111.60000000000001deg);

}

.c100.p32 .bar {

-webkit-transform: rotate(115.2deg);

-moz-transform: rotate(115.2deg);

-ms-transform: rotate(115.2deg);

-o-transform: rotate(115.2deg);

transform: rotate(115.2deg);

}

.c100.p33 .bar {

-webkit-transform: rotate(118.8deg);

-moz-transform: rotate(118.8deg);

-ms-transform: rotate(118.8deg);

-o-transform: rotate(118.8deg);

transform: rotate(118.8deg);

}

.c100.p34 .bar {

-webkit-transform: rotate(122.4deg);

-moz-transform: rotate(122.4deg);

-ms-transform: rotate(122.4deg);

-o-transform: rotate(122.4deg);

transform: rotate(122.4deg);

}

.c100.p35 .bar {

-webkit-transform: rotate(126deg);

-moz-transform: rotate(126deg);

-ms-transform: rotate(126deg);

-o-transform: rotate(126deg);

transform: rotate(126deg);

}

.c100.p36 .bar {

-webkit-transform: rotate(129.6deg);

-moz-transform: rotate(129.6deg);

-ms-transform: rotate(129.6deg);

-o-transform: rotate(129.6deg);

transform: rotate(129.6deg);

}

.c100.p37 .bar {

-webkit-transform: rotate(133.20000000000002deg);

-moz-transform: rotate(133.20000000000002deg);

-ms-transform: rotate(133.20000000000002deg);

-o-transform: rotate(133.20000000000002deg);

transform: rotate(133.20000000000002deg);

}

.c100.p38 .bar {

-webkit-transform: rotate(136.8deg);

-moz-transform: rotate(136.8deg);

-ms-transform: rotate(136.8deg);

-o-transform: rotate(136.8deg);

transform: rotate(136.8deg);

}

.c100.p39 .bar {

-webkit-transform: rotate(140.4deg);

-moz-transform: rotate(140.4deg);

-ms-transform: rotate(140.4deg);

-o-transform: rotate(140.4deg);

transform: rotate(140.4deg);

}

.c100.p40 .bar {

-webkit-transform: rotate(144deg);

-moz-transform: rotate(144deg);

-ms-transform: rotate(144deg);

-o-transform: rotate(144deg);

transform: rotate(144deg);

}

.c100.p41 .bar {

-webkit-transform: rotate(147.6deg);

-moz-transform: rotate(147.6deg);

-ms-transform: rotate(147.6deg);

-o-transform: rotate(147.6deg);

transform: rotate(147.6deg);

}

.c100.p42 .bar {

-webkit-transform: rotate(151.20000000000002deg);

-moz-transform: rotate(151.20000000000002deg);

-ms-transform: rotate(151.20000000000002deg);

-o-transform: rotate(151.20000000000002deg);

transform: rotate(151.20000000000002deg);

}

.c100.p43 .bar {

-webkit-transform: rotate(154.8deg);

-moz-transform: rotate(154.8deg);

-ms-transform: rotate(154.8deg);

-o-transform: rotate(154.8deg);

transform: rotate(154.8deg);

}

.c100.p44 .bar {

-webkit-transform: rotate(158.4deg);

-moz-transform: rotate(158.4deg);

-ms-transform: rotate(158.4deg);

-o-transform: rotate(158.4deg);

transform: rotate(158.4deg);

}

.c100.p45 .bar {

-webkit-transform: rotate(162deg);

-moz-transform: rotate(162deg);

-ms-transform: rotate(162deg);

-o-transform: rotate(162deg);

transform: rotate(162deg);

}

.c100.p46 .bar {

-webkit-transform: rotate(165.6deg);

-moz-transform: rotate(165.6deg);

-ms-transform: rotate(165.6deg);

-o-transform: rotate(165.6deg);

transform: rotate(165.6deg);

}

.c100.p47 .bar {

-webkit-transform: rotate(169.20000000000002deg);

-moz-transform: rotate(169.20000000000002deg);

-ms-transform: rotate(169.20000000000002deg);

-o-transform: rotate(169.20000000000002deg);

transform: rotate(169.20000000000002deg);

}

.c100.p48 .bar {

-webkit-transform: rotate(172.8deg);

-moz-transform: rotate(172.8deg);

-ms-transform: rotate(172.8deg);

-o-transform: rotate(172.8deg);

transform: rotate(172.8deg);

}

.c100.p49 .bar {

-webkit-transform: rotate(176.4deg);

-moz-transform: rotate(176.4deg);

-ms-transform: rotate(176.4deg);

-o-transform: rotate(176.4deg);

transform: rotate(176.4deg);

}

.c100.p50 .bar {

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

.c100.p51 .bar {

-webkit-transform: rotate(183.6deg);

-moz-transform: rotate(183.6deg);

-ms-transform: rotate(183.6deg);

-o-transform: rotate(183.6deg);

transform: rotate(183.6deg);

}

.c100.p52 .bar {

-webkit-transform: rotate(187.20000000000002deg);

-moz-transform: rotate(187.20000000000002deg);

-ms-transform: rotate(187.20000000000002deg);

-o-transform: rotate(187.20000000000002deg);

transform: rotate(187.20000000000002deg);

}

.c100.p53 .bar {

-webkit-transform: rotate(190.8deg);

-moz-transform: rotate(190.8deg);

-ms-transform: rotate(190.8deg);

-o-transform: rotate(190.8deg);

transform: rotate(190.8deg);

}

.c100.p54 .bar {

-webkit-transform: rotate(194.4deg);

-moz-transform: rotate(194.4deg);

-ms-transform: rotate(194.4deg);

-o-transform: rotate(194.4deg);

transform: rotate(194.4deg);

}

.c100.p55 .bar {

-webkit-transform: rotate(198deg);

-moz-transform: rotate(198deg);

-ms-transform: rotate(198deg);

-o-transform: rotate(198deg);

transform: rotate(198deg);

}

.c100.p56 .bar {

-webkit-transform: rotate(201.6deg);

-moz-transform: rotate(201.6deg);

-ms-transform: rotate(201.6deg);

-o-transform: rotate(201.6deg);

transform: rotate(201.6deg);

}

.c100.p57 .bar {

-webkit-transform: rotate(205.20000000000002deg);

-moz-transform: rotate(205.20000000000002deg);

-ms-transform: rotate(205.20000000000002deg);

-o-transform: rotate(205.20000000000002deg);

transform: rotate(205.20000000000002deg);

}

.c100.p58 .bar {

-webkit-transform: rotate(208.8deg);

-moz-transform: rotate(208.8deg);

-ms-transform: rotate(208.8deg);

-o-transform: rotate(208.8deg);

transform: rotate(208.8deg);

}

.c100.p59 .bar {

-webkit-transform: rotate(212.4deg);

-moz-transform: rotate(212.4deg);

-ms-transform: rotate(212.4deg);

-o-transform: rotate(212.4deg);

transform: rotate(212.4deg);

}

.c100.p60 .bar {

-webkit-transform: rotate(216deg);

-moz-transform: rotate(216deg);

-ms-transform: rotate(216deg);

-o-transform: rotate(216deg);

transform: rotate(216deg);

}

.c100.p61 .bar {

-webkit-transform: rotate(219.6deg);

-moz-transform: rotate(219.6deg);

-ms-transform: rotate(219.6deg);

-o-transform: rotate(219.6deg);

transform: rotate(219.6deg);

}

.c100.p62 .bar {

-webkit-transform: rotate(223.20000000000002deg);

-moz-transform: rotate(223.20000000000002deg);

-ms-transform: rotate(223.20000000000002deg);

-o-transform: rotate(223.20000000000002deg);

transform: rotate(223.20000000000002deg);

}

.c100.p63 .bar {

-webkit-transform: rotate(226.8deg);

-moz-transform: rotate(226.8deg);

-ms-transform: rotate(226.8deg);

-o-transform: rotate(226.8deg);

transform: rotate(226.8deg);

}

.c100.p64 .bar {

-webkit-transform: rotate(230.4deg);

-moz-transform: rotate(230.4deg);

-ms-transform: rotate(230.4deg);

-o-transform: rotate(230.4deg);

transform: rotate(230.4deg);

}

.c100.p65 .bar {

-webkit-transform: rotate(234deg);

-moz-transform: rotate(234deg);

-ms-transform: rotate(234deg);

-o-transform: rotate(234deg);

transform: rotate(234deg);

}

.c100.p66 .bar {

-webkit-transform: rotate(237.6deg);

-moz-transform: rotate(237.6deg);

-ms-transform: rotate(237.6deg);

-o-transform: rotate(237.6deg);

transform: rotate(237.6deg);

}

.c100.p67 .bar {

-webkit-transform: rotate(241.20000000000002deg);

-moz-transform: rotate(241.20000000000002deg);

-ms-transform: rotate(241.20000000000002deg);

-o-transform: rotate(241.20000000000002deg);

transform: rotate(241.20000000000002deg);

}

.c100.p68 .bar {

-webkit-transform: rotate(244.8deg);

-moz-transform: rotate(244.8deg);

-ms-transform: rotate(244.8deg);

-o-transform: rotate(244.8deg);

transform: rotate(244.8deg);

}

.c100.p69 .bar {

-webkit-transform: rotate(248.4deg);

-moz-transform: rotate(248.4deg);

-ms-transform: rotate(248.4deg);

-o-transform: rotate(248.4deg);

transform: rotate(248.4deg);

}

.c100.p70 .bar {

-webkit-transform: rotate(252deg);

-moz-transform: rotate(252deg);

-ms-transform: rotate(252deg);

-o-transform: rotate(252deg);

transform: rotate(252deg);

}

.c100.p71 .bar {

-webkit-transform: rotate(255.6deg);

-moz-transform: rotate(255.6deg);

-ms-transform: rotate(255.6deg);

-o-transform: rotate(255.6deg);

transform: rotate(255.6deg);

}

.c100.p72 .bar {

-webkit-transform: rotate(259.2deg);

-moz-transform: rotate(259.2deg);

-ms-transform: rotate(259.2deg);

-o-transform: rotate(259.2deg);

transform: rotate(259.2deg);

}

.c100.p73 .bar {

-webkit-transform: rotate(262.8deg);

-moz-transform: rotate(262.8deg);

-ms-transform: rotate(262.8deg);

-o-transform: rotate(262.8deg);

transform: rotate(262.8deg);

}

.c100.p74 .bar {

-webkit-transform: rotate(266.40000000000003deg);

-moz-transform: rotate(266.40000000000003deg);

-ms-transform: rotate(266.40000000000003deg);

-o-transform: rotate(266.40000000000003deg);

transform: rotate(266.40000000000003deg);

}

.c100.p75 .bar {

-webkit-transform: rotate(270deg);

-moz-transform: rotate(270deg);

-ms-transform: rotate(270deg);

-o-transform: rotate(270deg);

transform: rotate(270deg);

}

.c100.p76 .bar {

-webkit-transform: rotate(273.6deg);

-moz-transform: rotate(273.6deg);

-ms-transform: rotate(273.6deg);

-o-transform: rotate(273.6deg);

transform: rotate(273.6deg);

}

.c100.p77 .bar {

-webkit-transform: rotate(277.2deg);

-moz-transform: rotate(277.2deg);

-ms-transform: rotate(277.2deg);

-o-transform: rotate(277.2deg);

transform: rotate(277.2deg);

}

.c100.p78 .bar {

-webkit-transform: rotate(280.8deg);

-moz-transform: rotate(280.8deg);

-ms-transform: rotate(280.8deg);

-o-transform: rotate(280.8deg);

transform: rotate(280.8deg);

}

.c100.p79 .bar {

-webkit-transform: rotate(284.40000000000003deg);

-moz-transform: rotate(284.40000000000003deg);

-ms-transform: rotate(284.40000000000003deg);

-o-transform: rotate(284.40000000000003deg);

transform: rotate(284.40000000000003deg);

}

.c100.p80 .bar {

-webkit-transform: rotate(288deg);

-moz-transform: rotate(288deg);

-ms-transform: rotate(288deg);

-o-transform: rotate(288deg);

transform: rotate(288deg);

}

.c100.p81 .bar {

-webkit-transform: rotate(291.6deg);

-moz-transform: rotate(291.6deg);

-ms-transform: rotate(291.6deg);

-o-transform: rotate(291.6deg);

transform: rotate(291.6deg);

}

.c100.p82 .bar {

-webkit-transform: rotate(295.2deg);

-moz-transform: rotate(295.2deg);

-ms-transform: rotate(295.2deg);

-o-transform: rotate(295.2deg);

transform: rotate(295.2deg);

}

.c100.p83 .bar {

-webkit-transform: rotate(298.8deg);

-moz-transform: rotate(298.8deg);

-ms-transform: rotate(298.8deg);

-o-transform: rotate(298.8deg);

transform: rotate(298.8deg);

}

.c100.p84 .bar {

-webkit-transform: rotate(302.40000000000003deg);

-moz-transform: rotate(302.40000000000003deg);

-ms-transform: rotate(302.40000000000003deg);

-o-transform: rotate(302.40000000000003deg);

transform: rotate(302.40000000000003deg);

}

.c100.p85 .bar {

-webkit-transform: rotate(306deg);

-moz-transform: rotate(306deg);

-ms-transform: rotate(306deg);

-o-transform: rotate(306deg);

transform: rotate(306deg);

}

.c100.p86 .bar {

-webkit-transform: rotate(309.6deg);

-moz-transform: rotate(309.6deg);

-ms-transform: rotate(309.6deg);

-o-transform: rotate(309.6deg);

transform: rotate(309.6deg);

}

.c100.p87 .bar {

-webkit-transform: rotate(313.2deg);

-moz-transform: rotate(313.2deg);

-ms-transform: rotate(313.2deg);

-o-transform: rotate(313.2deg);

transform: rotate(313.2deg);

}

.c100.p88 .bar {

-webkit-transform: rotate(316.8deg);

-moz-transform: rotate(316.8deg);

-ms-transform: rotate(316.8deg);

-o-transform: rotate(316.8deg);

transform: rotate(316.8deg);

}

.c100.p89 .bar {

-webkit-transform: rotate(320.40000000000003deg);

-moz-transform: rotate(320.40000000000003deg);

-ms-transform: rotate(320.40000000000003deg);

-o-transform: rotate(320.40000000000003deg);

transform: rotate(320.40000000000003deg);

}

.c100.p90 .bar {

-webkit-transform: rotate(324deg);

-moz-transform: rotate(324deg);

-ms-transform: rotate(324deg);

-o-transform: rotate(324deg);

transform: rotate(324deg);

}

.c100.p91 .bar {

-webkit-transform: rotate(327.6deg);

-moz-transform: rotate(327.6deg);

-ms-transform: rotate(327.6deg);

-o-transform: rotate(327.6deg);

transform: rotate(327.6deg);

}

.c100.p92 .bar {

-webkit-transform: rotate(331.2deg);

-moz-transform: rotate(331.2deg);

-ms-transform: rotate(331.2deg);

-o-transform: rotate(331.2deg);

transform: rotate(331.2deg);

}

.c100.p93 .bar {

-webkit-transform: rotate(334.8deg);

-moz-transform: rotate(334.8deg);

-ms-transform: rotate(334.8deg);

-o-transform: rotate(334.8deg);

transform: rotate(334.8deg);

}

.c100.p94 .bar {

-webkit-transform: rotate(338.40000000000003deg);

-moz-transform: rotate(338.40000000000003deg);

-ms-transform: rotate(338.40000000000003deg);

-o-transform: rotate(338.40000000000003deg);

transform: rotate(338.40000000000003deg);

}

.c100.p95 .bar {

-webkit-transform: rotate(342deg);

-moz-transform: rotate(342deg);

-ms-transform: rotate(342deg);

-o-transform: rotate(342deg);

transform: rotate(342deg);

}

.c100.p96 .bar {

-webkit-transform: rotate(345.6deg);

-moz-transform: rotate(345.6deg);

-ms-transform: rotate(345.6deg);

-o-transform: rotate(345.6deg);

transform: rotate(345.6deg);

}

.c100.p97 .bar {

-webkit-transform: rotate(349.2deg);

-moz-transform: rotate(349.2deg);

-ms-transform: rotate(349.2deg);

-o-transform: rotate(349.2deg);

transform: rotate(349.2deg);

}

.c100.p98 .bar {

-webkit-transform: rotate(352.8deg);

-moz-transform: rotate(352.8deg);

-ms-transform: rotate(352.8deg);

-o-transform: rotate(352.8deg);

transform: rotate(352.8deg);

}

.c100.p99 .bar {

-webkit-transform: rotate(356.40000000000003deg);

-moz-transform: rotate(356.40000000000003deg);

-ms-transform: rotate(356.40000000000003deg);

-o-transform: rotate(356.40000000000003deg);

transform: rotate(356.40000000000003deg);

}

.c100.p100 .bar {

-webkit-transform: rotate(360deg);

-moz-transform: rotate(360deg);

-ms-transform: rotate(360deg);

-o-transform: rotate(360deg);

transform: rotate(360deg);

}

.c100:hover {

cursor: default;

}

.c100:hover:after {

top: 0.14em;

left: 0.14em;

width: 0.72em;

height: 0.72em;

}

.c100:hover > span {

left: -10px;

top: -30px;

width: 5em;

line-height: 5em;

font-size: 0.23em;

}

.c100:hover > span#complete {

font-size: 15px;

top: 110px;

left: 66px;

}



.brand_newcheck {

display: block;

width: 50%;

float: left;

}

.info-tip_right {

padding-top: 4px;

padding-left: 0px !important;

}

div#step1 {

background: rgba(255, 255, 255, 0);

padding: 3em 2em;

border: 1px dotted #000000;

border-radius: 0px;

}

label.switch.switch-round.block.option {
width: 70px !important;
padding-top: 5px;
margin-left: 58px;
}

@.percentage {
font-size: 14px;
box-shadow: none;
border: 1px solid #000000;
background: #f4f5f6;
height: 38px;
color: #525050;
}

@input.percentage {
font-size: 14px;
box-shadow: none;
border: 1px solid #000000;
background: #f4f5f6;
height: 38px;
color: #525050;
}

.form_descright {

margin-bottom: 20px;

text-align: center;

font-size: 14px;

font-family: inherit;

margin: 0 0 10px;

}

img.form_descicon {

margin-top: 0px;

margin-bottom: 20px!important;

width: 60px;

height: 60px;

display: inline-block;

}

.form_desc {
text-align: center;
font-size: 17px;
}

div#step2 {
background: rgba(255, 255, 255, 0);
padding: 3em 2em;
border: 1px dotted #000000;
border-radius: 0px;
}
.step1_labels {
font-size: 15px;
line-height: 38px;
color: #3f3f3f;
font-family: inherit;
margin-bottom: 0px;
padding-left: 10px;
font-weight: 500;
border: 1px dotted #beddbd;
background-color: #dbedda;
}
.step2_labels {
font-size: 15px;
line-height: 38px;
color: #3f3f3f;
font-family: inherit;
margin-bottom: 0px;
padding-left: 10px;
font-weight: 500;
border: 1px dotted #beddbd;
background-color: #dbedda;
}



/* Radio BoxCss */







/* Normal Css */



span#phone1 {

width: 25% !important;

display: inline-block;

float: left;

}

span#phone2 {

width: 66%;

display: inline-block;

float: right;

}

span#month {

width: 44% !important;

display: inline-block;

float: left;

margin: 0 3%;

}

@#month .select2-container .select2-choice, #phone1 .select2-container .select2-choice {

padding-left: 10px !important;

}

/* emo Css */



@.form-control {

display: block;

width: 100%;

height: 38px!important;

padding: 0px 0px 0px 0px!important;

font-size: 14px;

line-height: 36px!important;

color: #000000!important;

background-color: rgba(255, 255, 255, 0.6)!important;

border: 1px solid #000000!important;

border-radius: 0px !important;

box-shadow: none!important;

}



@.select2-container .select2-choice {



height: 36px!important;

border: 0px dotted #000000!important;

white-space: nowrap;

color: #000000!important;

background-clip: padding-box!important;

background-color: rgba(255, 255, 255, 0.6)!important;

text-align: center;

}

@.select2-container .select2-choice .select2-arrow {

width: 36px!important;

font-size: 16px!important;

}

@.select2-container .select2-choice .select2-arrow:after {

content: "\f078"!important;

margin-left: 10px!important;

margin-top: 0px!important;

}



@.select2-results .select2-result-label {

padding: 8px 10px!important;

font-size: 14px!important;

font-weight: normal;

border-bottom: 1px dotted #c9fdd7!important;

}



@.select2-drop {

color: #000000!important;

}

.car_value_box {

margin-top: 6px;

margin-bottom: 6px!important;

font-family: inherit;

font-size: 13px;

color: #fc3a52;

padding: 10px;

width: 100%;

background-color: #f9f9f9;

border: 1px dotted #000000;

}

.hide_this{

display:none;

}

.show_this{

display:block;

}

label.error {

font-size: 13px;

color: #fc3a52;

font-weight: 300;

}

@::-webkit-input-placeholder {

color: #000000!important;

text-align: center;

}

@div#btn_nextstep1 span {

color: white;

}



/* @font-face {
font-family: 'icomoon-ultimate';
src: url('https://insurancetopup.com/wp-content/plugins/Insurance_qoute/pricing-tables-horizontal/font/icomoon-ultimate.eot');
src: local('☺'), url('fonts/icomoon-ultimate.woff') format('woff'), url('https://insurancetopup.com/wp-content/plugins/Insurance_qoute/pricing-tables-horizontal/font/icomoon-ultimate.ttf') format('truetype'), url('https://insurancetopup.com/wp-content/plugins/Insurance_qoute/pricing-tables-horizontal/font/icomoon-ultimate.svg') format('svg');
font-weight: normal;
font-style: normal;

} */
/*	--------------------------------------------------
:: Font IcoMoon Ultimate
-------------------------------------------------- */

/* 	@font-face {
font-family:'icomoon-ultimate';
src: url('https://insurancetopup.com/wp-content/plugins/Insurance_qoute/pricing-tables-horizontal/font/icomoon-ultimate.ttf') format('truetype') !important;
font-weight:normal;
font-style:normal;
} */

[class*="icomoon-"]:before {
font-family:'icomoon-ultimate';
speak:none;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

.pricing-tables-widget-header h4 {
margin-top: 0px !important;
margin-bottom: 0px !important;
}

.pricing-tables-widget-header p {
padding-bottom: 3px !important;
}

.pricing-tables-widget .pricing-tables-widget-header .pricing-tables-widget-price {
padding: 0px 0 5px 0;
}

.ptablefooter {
padding: 1px 20px !important;
}

.ptablefooter h3{
padding: 0px 0px !important;
margin: 2px 0px !important;
color: #ffffff !important;
line-height: 1.25 !important;
font-size: 20px !important;
}

.ptablefooter p {
padding-top: 0px !important;
}

.ptablefooter h1{
margin: 4px 0 4px 0 !important;
color: #fc3a52 !important;
display: block !important;
font-size: 32px !important;
}

.pricing-widget-wrapper.mainrow {
margin: 0px auto;
padding: 6px 0px;
}

.mainrow .pricing-tables-widget-purchase {
color: #fc3a52 !important;
text-align: center !important;
font-size: 13px !important;
text-transform: capitalize !important;
}


.grid-item.item-lg-3.item-xs-12.leftbar .pricing-tables-widget-header {
background: #2b363c !important;
}
.pricing-tables-widget-footer.ptablefooter {
background-color: #2b363c !important;
}
.ptablefooter .pricing-tables-widget-purchase-button {
background: #fc3a52 !important;
}
.mainrow .pricing-tables-widget-section {
background-color: #effff5 !important;
}
.mainrow .pricing-tables-widget-default.pricing-tables-widget-dark .pricing-tables-widget-section ul li{
color: #2a363b !important;
}

.rightdiscount {
text-align: left;
margin-top: 7px !important;
}

.pricing-tables-widget-default.pricing-tables-widget-blue .pricing-tables-widget-header.tablerighthead p {
border-bottom: 1px dotted rgba(18, 204, 148, 0.3);
}

.pricing-tables-widget-section .iconcircle {
color: #2a363b !important;
font-size: 6px !important;
position: relative;
top: -2px;
}

span.dataval {
display: inline-block !important;
margin-left: 10px;
margin-right: 4px;
color: #000000 !important;
}

p#companylogo {
text-align: center;
}

.mainrow .pricing-tables-widget-section {
padding: 5px 15px !important;
}

p.pricing-tables-widget-purchase.seemoredetails {
font-size: 15px !important;
color: #fc3a52 !important;
width: 100% !important;
display: block !important;
}

p.seemoredetails {
position: relative;
top: 0px;
border-top: 1px dotted #000000;
padding-top: 6px;
}

span.dataval {
text-align: right !important;
float: right !important;
}

.mainrow .pricing-tables-widget-section ul li {
border-top: 1px dotted #000000;
}

.dataval i.icomoon-checkmark-circle.false {
color: #fc3a52 !important;
font-size: 18px;
}

.dataval i.icomoon-checkmark-circle.true {
color: #000000 !important;
font-size: 18px;
}

.icomoon-checkmark-circle.false:before {
content: "\ed66" !important;
}

p#companylogoinner {
display: flex;
}

#companylogoinner span.watania {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/Watania-logo-tab.png);
width: 200px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

#companylogoinner span.insurance.house {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/insurance-house-logo-tab.png);
width: 200px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

#companylogoinner span.qatar.general.insurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/qatar-general-insurance-logo-tab.png);
width: 200px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

#companylogoinner span.adamjee.insurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/Adamjee-insurance-logo-tab.png);
width: 200px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

#companylogoinner span.the.oriental.insurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/the-oriental-insurance-logo-tab.png);
width: 200px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

#companylogoinner span.tokio.marine {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/Tokio-Marine-logo-tab.png);
width: 200px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

#companylogoinner span.dubai.national.insurance {
background-image: url(https://insurancetopup.com/baio-uxqbke84gk/wx_dat_folio/Tokio-Marine-logo-tab.png);
width: 200px;
height: 90px;
background-repeat: no-repeat;
text-align: center;
display: block;
margin: 0 auto;
}

/* Inner table switches */

.smart-forms.accoverswitch {
display: inline-block;
padding: 0px !important;
margin: 0px !important;
line-height: unset;
width: 60px;
float: right;
}

.smart-forms.accoverswitch .form-body {
padding: 0px;
}



.datavalswitch{
display: inline-block !important;
margin-left: 10px;
margin-right: 0px;
color: #000000 !important;
}

span.switchlabel {
width: 165px !important;
}

.arrow1 {
font-size: 13px !important;
position: absolute !important;
top: 14px !important;
right: 4px !important;
width: 20px !important;
height: 20px !important;
pointer-events: none !important;
z-index: 20 !important;
color: #000000 !important;
text-align: center !important;
}

/* Range Slider */

.cd-step-content .name {
  display: block;
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: .2em;
  margin-bottom: .3em;
  text-align: center;
}

.cd-step-content .descrip {
  display: block;
  font-size: 1.7rem;
  color: #484848;  
  text-align: center;
}

.product-box{
	width:100%;
	max-width:1200px;
	margin-top: 50px;
}
.product-img-box {
	float: left;
	width: 56%;
	margin-top: -3%;
}
.product-img-box .background-product {
    background-image: url("http://www.keelahairco.com/wp-content/plugins/hair_wig/img/length-model.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 461px;
	width:536px;
	background-position-x: -52px;
}
.product-img-box .background-product ul {
     padding: 173px 0 0 0%;
}
.product-img-box .background-product ul li {
    clear: both;
    color: #333366;
    cursor: default;
    float: left;
    height: 21px;
    position: relative;
	width:90%;
	font-family:"FuturaPTLight";
    font-size: 22px;
}

.product-img-box .background-product ul li.line_selected {
    color: #CCCCCC;
}
.product-img-box .background-product ul li em {
    display: inline-block;
    float: left;	
    font-style: normal;
    width: 35px;
	position:relative;
}
.product-img-box .background-product ul li::before,
.product-img-box .background-product ul li::after {
  /* this is used as tooltip to show color name */
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-5px);
      -ms-transform: translateX(-50%) translateY(-5px);
          transform: translateX(-50%) translateY(-5px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s, visibility .2s, -webkit-transform .2s;
  transition: opacity .2s, visibility .2s, -webkit-transform .2s;
  transition: opacity .2s, visibility .2s, transform .2s;
  transition: opacity .2s, visibility .2s, transform .2s, -webkit-transform .2s;
  color: #000000;
}
.product-img-box .background-product ul li::before {
  /* this is the tooltip triangle */
  content: '';
  bottom: 100%;
  height: 0;
  border: 8px solid transparent;
  border-top-color: rgba(237, 237, 237, 0.8);
  border-top-width: 10px;
  border-top-width: 10px;
}
.product-img-box .background-product ul li::after {
  /* this is the tooltip content */
  content: attr(data-content);
  background-color: rgba(237, 237, 237, 0.8);
  white-space: nowrap;
  padding: .7em 1.1em;
  border-radius: 2em;
  bottom: calc( 100% + 18px);
}
.product-img-box .background-product ul li:hover::before,
.product-img-box .background-product ul li:hover::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.product-img-box .background-product ul li span {
    background: rgba(51, 51, 102, 0.64) none repeat scroll 0 0;
    display: inline-block;
    float: left;
    height: 2px;
    margin: 10px 10px 0 0;
    width: 77%;
}
.product-img-box .background-product ul li.line_selected span {
    background: #CCCCCC none repeat scroll 0 0 !important;
}

.product-shop{
	float:right;
	width:100%;
	margin-left: -140px;
}
.product-shop .rule-length {
    clear: both;
    float: left;
    margin-top: 25%;
    width: 100%;
	padding: 0 0 0 7px;
}
.product-shop .rule-length li {
    color: #666699;
    float: left;
    font-family:"FuturaPTLight";
    font-size: 22px;
    height: 40px;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
    width:8.3%;
}
.product-shop .rule-length li.length-active {
    color: #CC9966;
    font-size: 25px;
    margin-top: -10px;
}
.product-shop .ui-widget-content {
    background: rgba(51, 51, 102, 0.64) none repeat scroll 0 0;
    border: 0 none;
    height: 4px;
    margin: 20px 3% 40px;
    width: 94%;
}
.product-shop .ui-slider-horizontal .ui-slider-handle {
    background: rgba(0, 0, 0, 0) url("../img/length-slider-notch.png") no-repeat scroll left top;
    border: 0 none;
    height: 44px;
    top: -23px;
    width: 20px;
	outline: 0 none;

}
.product-shop p.bx-btm {
    color: #333366;
    font-size: 24px;
    margin: 0;
	margin-bottom: .4em;
    text-align: center;
    text-transform: uppercase;
}
.product-shop p.bx-btm span{
	color:#CC9966;
}
.clear{ clear:both; }
.cd-builder-footer .length-wrapper {
    float: left;
	border-right: 1px solid #e1e1e1;
	margin-right: 27px;
    padding-right: 27px;
	padding-top: 10px;
	height:80px;
}
.cd-builder-footer .length-wrapper .length_val {
    color: #24221f;
    font-size: 3.2rem;
    margin-top: 4px;
}
.cd-builder-footer .length-wrapper{
	display:none;
}
.cd-builder-footer .length-wrapper.active{
	display:inline-block;
}
#buyform{
	width:60%; 
	margin:0 auto;
}
.user_name{
	font-weight:bold;
	text-transform:capitalize;
}
.err_box{
	background:#F96;
	border:1px solid #F00;
}
.err_msg{
	color:#C00;
	margin-bottom: 20px;
}



.txt-input {
	color:#3c3c3c;
	font-family: "FuturaPTLight";
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	/*padding: 13px 13px 13px 54px;*/
	padding:13px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 3px solid #CCC;
}

.txt-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
   /*padding: 13px 13px 13px 54px;*/
	padding:13px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
/*#uname{
	background-image: url(../img/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#uemail{
	background-image: url(../img/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}*/


textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

@media only screen and (max-width: 1200px) {
	.product-img-box .background-product ul{ padding: 207px 0 0 13%; } 
	.product-img-box .background-product ul li {  width:96%;  height: 18px; }
	.product-img-box .background-product ul li span{ width:75%; }
	
}
@media only screen and (max-width: 1024px) {
	.cs-selectbox {
		height: 1030px !important;
	}
	div#color_boxes_step4 {
		height: 1030px !important;
	}
	#color_boxes_step4 .cs-options {
		height: 1030px !important;
	}
	.summary-list .content-box .imgbox {
		width: 113px !important;
		height: 245px !important;
		float: left !important;
		margin-right: 2px !important;
		overflow: hidden !important;
	}
	.summary-list .content-box .content {
		color: #FFF;
		display: inline-block;
		float: right !important;
		width: 330px !important;
	}
	.summary-list .content-box .content .title {
		font-family: "FuturaPTDemi";
		font-size: 30px !important;
		color: #FFF;
		text-align: left !important;
		margin-top: 2px !important;
		
	}
	.summary-list p {
		text-align: left !important;
		font-size: 15px !important;
	}
	.product-img-box,
	.product-shop{
		float: none;
		margin: 0 auto;
		max-width: 537px;
		width: 100%;
	}
	.product-shop .rule-length{
		margin-top:0;
	}
}
@media only screen and (max-width: 600px) {
	
	.summary-list p {
		text-align: left;
		font-size: 15px;
	}
	#color_boxes_step4 .cs-options {
		height: 900px !important;
	}
	.cs-selectbox {
		height: 900px;
	}
	.storefront-handheld-footer-bar {
		display: none !important;
	}
	.wizard > .steps > ul > li {
		text-align: center;
	}
	.tot-price {
		height: 50px;
		bottom: 2em !important;
		height: 50px !important;
	}
	.wizard > .actions {
		padding-bottom: 0.8em !important;
	}
	 .wizard > .actions > ul > li {
		float: left;
		@width: 46%;
		text-align: center;
	}
	.steps-theme-primary .wizard > .actions a{
		background: #000000;
		color: #fff;
		display: flex !important;
		width: 197px;
		text-align: center;
		height: initial !important;
		padding-left: 2em !important;
	}	
	.wizard > .actions > ul {
		margin-left: 0%;
	}
	.smart-wrap {
		padding: 0 0px !important;
	}
	.summary-list .heading-box img {
		height: 220px;
	}
	.summary-list .content-box {
		padding: 10px 5px 5px 70px !important
	}
	.product-shop .rule-length li.length-active{
		font-size: 25px;
   		margin-top: -18px;
	}
	.product-img-box .background-product {
		height: 425px;
		width:100%;
	}
	.product-img-box .background-product ul {
		padding: 172px 0 0 10%;
	}
	.summary-list #buyform {
		width: 95%;
	}
	.summary-list .content-box .content .title {
    	font-size: 25px !important;
		margin:10px auto;
		line-height: 28px;
		margin-top: 0px !important;
	}
	.summary-list .content-box .edit {
		font-size: 18px;
	}
	.summary-list .heading-box img {
		height: 220px;
	}
	.summary-list .content-box .imgbox {
	    height: 180px;
	}
	
}
@media only screen and (max-width: 524px) {
	.cs-selectbox {
		height: 900px !important;
	}
	.summary-list .content-box .imgbox {
		height: auto !important;
		width: 100% !important;
		margin-bottom: 20px;
		text-align: center;
	}
	.summary-list .content-box .content {
		font-size: 18px;
		line-height: 20px;
	}
	.summary-list .content-box .imgbox {
		height: auto;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	li#texture7 {
		right: -27px;
	}	
	li#texture3 {
		left: -27px;
	}
	li#texture6 {
		right: 3px;
	}
	li#texture8 {
		right: 3px;
	}
	li#texture1 {
		left: 12px;
	}
	li#texture5 {
		left: 12px;
	}
	#texture_ul span.cs-placeholder {
		top: 4em !important;
		height: 104px;
	}
	.cs-skin-circular .cs-options li {
		width: 82px !important;
		height: 80px !important;
	}
	#texture_ul .circular-box {
		padding-bottom: 0px;
	}
	div#upload_photoerr {
		height: 49px;
	}
	.smart-forms .section {
		margin-bottom: 0px;
	}
	.dropzone {
		margin: 0em 2% !important;
		padding: 10px 0;
	}
	.tot-price {
		font-size: 32px !important;
		font-weight: normal;
		margin-top: 10px;
	}
	.smart-forms h2 {
		margin-top: 0em;
		font-size: 20px;
	}
	.product-img-box .background-product {
		height: 253px;
	}
	.product-img-box .background-product ul {
		padding: 0px 0 0 1%;
	}
	.product-img-box .background-product {
		background-position-x: -8px;
	}
	.product-img-box .background-product ul li {
		height: 18px;
		width: 100%;
	}
}
@media only screen and (max-width: 414px) {
	.steps-theme-primary .wizard > .actions a {
		width: 148px;
		padding-left: 0.6em !important;
	}
	.wizard > .actions > ul {
		width: 315px;
	}
	.product-img-box .background-product ul li {
		font-size: 10px;
	}
	.product-shop .rule-length li.length-active {
		font-size: 16px;
	}
	.product-shop .rule-length li {
		font-size: 15px;
	}
	.product-img-box .background-product{
		height: 362px;
	}
	.product-img-box .background-product ul {
		padding: 132px 0 0 10%;
	}
	.product-img-box .background-product ul li{
		height:16px;
	}
	.product-img-box .background-product ul li span {
		width: 70%;
	}
	
}

@media only screen and (max-width: 384px) {
	.product-img-box .background-product {
		height: 304px;
	}
	.product-img-box .background-product ul li {
		height: 12px;
	}
}

@media only screen and (max-width: 375px) {
	.product-img-box .background-product {
		height: 304px;
	}
	.product-img-box .background-product ul li {
		height: 12px;
	}
}
@media only screen and (max-width: 320px) {
	.product-img-box .background-product {
		height: 258px;
	}
	.product-img-box .background-product ul li {
		height: 9px;
	}
	.product-img-box .background-product ul li span {
		width: 66%;
	}
}

/* Range Slider */

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
 /*    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer; */
	background: rgba(0, 0, 0, 0) url(http://wig.logicsbuffer.com/wp-content/plugins/hair_wig/img/length-slider-notch.png) no-repeat scroll left top;
    border: 0 none;
	appearance: none;
    height: 44px;
    top: -23px;
    width: 20px;
    outline: 0 none;
}

.slider::-moz-range-thumb {
 /*    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer; */
	background: rgba(0, 0, 0, 0) url(http://wig.logicsbuffer.com/wp-content/plugins/hair_wig/img/length-slider-notch.png) no-repeat scroll left top;
    border: 0 none;
    height: 44px;
	cursor: pointer;
    top: -23px;
    width: 20px;
    outline: 0 none;
}

/* Custom Style for Step 3 */

span.cs-placeholder {
    display: inline-block;
    position: relative;
    top: 9em;
}

/* Custom Style for Step 4 */

/* .cs-skin-circular .cs-options li:nth-child(1) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/1.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(2) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/2.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(3) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/3.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(4) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/4.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(5) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/5.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(6) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/6.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(7) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/7.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(8) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/8.png?v=1510960026); }.cs-skin-boxes .cs-options li.swatch-1-jet-black { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/1-jet-black.png?v=1511009486); background-position: top center; background-repeat: no-repeat; } */

.cs-skin-boxes .cs-options li.swatch-1b-natural-black { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/1b-natural-black.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-2-darkest-brown { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/2-darkest-brown.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-4-dark-brown { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/4-dark-brown.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-8-light-chestnut-brown { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/8-light-chestnut-brown.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-30-auburn { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/30-auburn.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-99j-plum { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/99J-plum.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-613-blonde { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/613-blonde.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-613-platinum-blonde { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/613-platinum-blonde.png?v=1511009496); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ash-blonde { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ash-blonde.png?v=1511009502); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-blue-steel { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/blue-steel.png?v=1511009508); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-burgundy-bistro { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/burgundy-bistro.png?v=1511009515); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ruby-red { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ruby-red.png?v=1511009583); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-burgundy { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/burgundy.png?v=1511009522); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-copper { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/copper.png?v=1511009531); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-light-blonde { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/light-blonde.png?v=1511009557); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-mahogany { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/mahogany.png?v=1511009568); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-mystic-turquoise { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/mystic-turquoise.png?v=1511009606); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-1b30 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-1B30.png?v=1511009623); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-1bt10 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-1BT10.png?v=1511009634); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-2t27 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-2T27.png?v=1511009690); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-4t30 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-4T30.png?v=1511009706); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-6t27 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-6T27.png?v=1511009718); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-10t24 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-10T24.png?v=1511009727); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-18t22 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-18T22.png?v=1511009741); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-pink-pearl { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/pink-pearl.png?v=1511009753); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-purple-rain { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/purple-rain.png?v=1511009762); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-silver { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/silver-fox.png?v=1511009864); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-silver-grey-black { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/silver-grey-black.png?v=1511009873); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ultra-violet { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ultra-violet.png?v=1511009819); background-position: top center; background-repeat: no-repeat; } img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        width: auto;
      }
	  
#color_boxes_step4 .cs-options {
    position: absolute;
    width: 100%;
    height: 875px;
    display: block;
}
div#color_boxes_step4 {
    display: block;
    width: 100%;
    padding: 0px;
    max-width: 1200px !important;
	text-align: center;
	height: 800px;
}
.cs-skin-boxes.cs-active .cs-options li {
    float: left;
}	  

/* Custom Style */
ul#dummy_girl li {
    list-style-type: none;
}
.steps-theme-primary .wizard > .steps .current a:hover{
	background: #000000;
    cursor: default;
    color: #bf8e59;
}
.steps-theme-primary .wizard > .actions a:hover{
	background: #000000;
    color: #fff;
}
.steps-theme-primary .wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #000000;
    color: #bf8e59;
}
.steps-theme-primary .wizard > .steps .disabled a {
    background: #deaa70;
    cursor: default;
    color: #fff;
}
.steps-theme-primary .wizard > .steps .current a {
	background: #000000;
    cursor: default;
    color: #bf8e59;
}
.steps-theme-primary .wizard > .steps .done .number {
    background: none;
}
.steps-theme-primary .wizard > .steps .done:before {
    background: #000000;
}
.steps-theme-primary .wizard > .steps .current:before {
    background: #000000;
}
.steps-theme-primary .wizard > .steps .current .number {
   background: #000000;
}
.steps-theme-primary .wizard > .steps .disabled:before {
    background: #ECBC87 !important;
}
.steps-theme-primary .wizard > .steps .disabled .number {
    background: #ECBC87;
}
.steps-theme-primary .wizard > .steps .disabled a, .wizard > .steps .disabled a:hover {
    background: #ECBC87;
    cursor: default;
    color: #fff;
}
.steps-theme-primary .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #000000;
    color: #fff;
    display: block;
    padding: 15px 10px 12px 10px;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "FuturaPTBook", Verdana, Geneva, sans-serif;
    height: 60px;
}
.dropzone {
    margin: 3em 10%;
	background: #f9f9f9;
    border: 2px dashed #bf8e59;
}
.dropzone .dz-drop-title {
    margin: 0px 0px 20px 0px;
}
.dropzone .dz-clicker span {
	background: #bf8e59;
    padding: 45px 14px;
    border-radius: 50%;
    border: 2px solid #000000;
    color: #000000;
    background-repeat: no-repeat;
    background-size: auto;
    background-clip: border-box;
    background-position: center;
    width: 125px;
    height: 116px;
    font-size: 15px;
}
.smart-forms h2 {
    text-align: center;
    margin-top: 1em;
	color: #000000;
}
.tot-price {
    text-align: center;
    font-family: "FuturaPTDemi", Verdana, Geneva, sans-serif;
    font-size: 58.79px;
    font-weight: normal;
    margin-top: 0px;
    color: #000000;
    position: fixed;
    width: 100%;
    bottom: 1.1em;
    left: 0px;
    height: 83px;
    display: block;
    background: #fff;
	z-index: 9999999 !important;
}
.tot-price:before {
    clear: both;
    content: "";
    display: block;
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0) 96%, rgba(255,255,255,0) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255,255,255,0)), color-stop(4%, rgba(255,255,255,0)), color-stop(63%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0) 96%, rgba(255,255,255,0) 99%);
    background: -o-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0) 96%, rgba(255,255,255,0) 99%);
    background: -ms-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0) 96%, rgba(255,255,255,0) 99%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0) 96%, rgba(255,255,255,0) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    height: 60px;
    width: 100%;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
}
.yellow_text {
    color: #bf8e59;
}
#texture_images_ul .texture-selected {
    border: 4px solid #bf8e59;
}
.boxesPreview {
    position: absolute !important;
}

/* Summry List */
.summary-list .summery-box {
    background: #303643;
    margin: 38px auto;
    position: relative;
    overflow: hidden;
}
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}
.summary-list .heading-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #703f0a;
}
.summary-list .content-box {
    padding: 36px 36px 36px 118px;
    width: 100%;
    position: relative;
}
.summary-list .content-box .imgbox {
    width: 248px;
    height: 248px;
    float: left;
    margin-right: 15px;
    overflow: hidden;
}
.summary-list .content-box .content {
    color: #FFF;
	display: inline-block;
}
.summary-list .content-box .edit {
    position: absolute;
    right: 36px;
    top: 36px;
    color: #FFF;
    text-decoration: none;
}
.summary-list .content-box .content .title {
    font-family: "FuturaPTDemi";
    font-size: 44px;
    color: #FFF;
    text-align: left;
    margin-top: 40px;
}	
.cs-skin-boxes .cs-options li.cs-selected::after {
    content: '\f00c';
    font-family: FontAwesome !important;
	top: 86%;
    position: absolute;
    transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
	font-size: 5em;
}
.dz-preview.dz-image-preview {
    display: none;
}
#texture_ul span.cs-placeholder {
    top: 4em !important;
}
span#show_totalPayment {
    color: #bf8e59;
}
#pay_now_btn{
    font-family: "FuturaPTDemi", Verdana, Geneva, sans-serif;
    font-size: 39px !important;
    text-transform: uppercase;
    color: #FFF !important;
    border-radius: 15px !important;
    padding: 45px 40px !important;
    margin: 0px auto 0px;
    text-align: center !important;
    width: 90%;
    height: 170px !important;
	background: black !important;
}
#main_container {
    border: none !important;
    box-shadow: none !important;
}
em#imagevalidation-error {
    text-align: center;
    font-size: 2em;
}
em#texturevalidation-error {
    text-align: center;
    font-size: 2em;
}
em#colorvalidation-error {
    text-align: center;
    font-size: 2em;
}
em#lengthvalidation-error {
    text-align: center;
    font-size: 2em;
}
#texture_ul .cs-selectbox {
    height: 460px;
}
.frm-row p {
    text-align: center;
    font-size: 20px;
}
.steps-theme-primary .wizard > .steps .done a, .steps-theme-primary .wizard > .steps .done a:hover {
    background: #bf8e59;
    color: #fff;
}
.wizard > .actions{
    position: fixed !important;
    display: inline-block !important;
    text-align: center !important;
    width: 100%;
    bottom: 0em !important;
    padding: 0px !important;
    padding-bottom: 2em;
    margin: 0 auto !important;
    background: #fff;
    z-index: 2000;
}
/* Checkout */

.rightsidebar {
    display: inline-block;
    width: 450px;
}
.base_price_block {
    width: 50%;
    float: left;
}