/*
    Description: 	Pricing Tables Framework
    Author: 		Insidelabdev
    Version: 		2.0
*/
	
/*	--------------------------------------------------
	:: MOBILE PORTRAIT DESIGN WIDTH BELOW 40EM
	-------------------------------------------------- */
    
	@media only screen and (max-width:39.9375em) {
						
		.pricing-tables-widget .pricing-tables-widget-header {
			height:100%;
		}
		
		.pricing-tables-widget .pricing-tables-widget-section {
			height:100%;
			display:inline-block;
		}
		
		.pricing-tables-widget .pricing-tables-widget-footer {
			height:100%;
			padding:40px 20px;
		}
		
		.pricing-tables-widget-default.pricing-tables-widget-light .pricing-tables-widget-section .pricing-tables-widget-divider-res-section {
			border-bottom:4px solid #e0e5e5;
		}
		
		.pricing-tables-widget-default.pricing-tables-widget-dark .pricing-tables-widget-section .pricing-tables-widget-divider-res-section {
			border-bottom:4px solid #adbbc5;
		}
		        
    }

/*	--------------------------------------------------
	:: MOBILE LANDSCAPE DESIGN WIDTH 40EM
	-------------------------------------------------- */

	@media only screen and (min-width:40em) and (max-width:51.9375em) {
						
		.pricing-tables-widget .pricing-tables-widget-header {
			height:100%;
		}
		
		.pricing-tables-widget .pricing-tables-widget-section {
			height:100%;
			display:inline-block;
		}
		
		.pricing-tables-widget .pricing-tables-widget-footer {
			height:100%;
			padding:40px 20px;
		}
		
		.pricing-tables-widget-default.pricing-tables-widget-light .pricing-tables-widget-section .pricing-tables-widget-divider-res-section {
			border-bottom:4px solid #e0e5e5;
		}
		
		.pricing-tables-widget-default.pricing-tables-widget-dark .pricing-tables-widget-section .pricing-tables-widget-divider-res-section {
			border-bottom:4px solid #adbbc5;
		}
		        
    }
	
/*	--------------------------------------------------
	:: TABLET PORTRAIT DESIGN WIDTH 52EM
	-------------------------------------------------- */

	@media only screen and (min-width:52em) and (max-width:63.9375em) {
				
		.pricing-tables-widget .pricing-tables-widget-header {
			height:100%;
		}
		
		.pricing-tables-widget .pricing-tables-widget-section {
			height:100%;
			display:inline-block;
		}
		
		.pricing-tables-widget .pricing-tables-widget-footer {
			height:100%;
			padding:40px 20px;
		}
		
		.pricing-tables-widget-default.pricing-tables-widget-light .pricing-tables-widget-section .pricing-tables-widget-divider-res-section {
			border-bottom:4px solid #e0e5e5;
		}
		
		.pricing-tables-widget-default.pricing-tables-widget-dark .pricing-tables-widget-section .pricing-tables-widget-divider-res-section {
			border-bottom:4px solid #adbbc5;
		}
		        
    }
	
/*	--------------------------------------------------
	:: TABLET LANDSCAPE DESIGN WIDTH 64EM
	-------------------------------------------------- */
	
	@media only screen and (min-width:64em) and (max-width:74.9375em) {
		       
    }