.circular-box{
	padding-bottom:50px;
}
div.circularPreview{
	color:#bf8e59;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	margin-top:20px;
}
div.cs-skin-circular {
	background: transparent;
	font-size: 2em;
	font-weight: 700;
	width: auto;
	margin-top: 3em;
}

.cs-skin-circular > span {
	background: transparent;
	width: 100px;
	height: 100px;
	text-align: center;
	padding: 0;
	text-indent: 100%;
	border-radius: 50%;
	box-shadow: inset 0 0 0 5px #bf8e59;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
}

/*----- Display Activity Name

.cs-skin-circular > span {
	background: transparent none repeat scroll 0 0;
	border-radius: 50%;
	box-shadow: 0 0 0 5px #fefef8 inset;
	display: block;
	height: 100px;
	padding: 35px 0 0;
	text-align: center;
	transition: transform 0.2s ease-out 0s;
	width: 100px;
}

-----*/

@media screen and (max-width: 30em) {
	.cs-skin-circular > span { width: 80px; height: 80px; }
}

.cs-skin-circular > span::after {
	font-family: 'icomoon';
	content: '\e00f';
	color: #bf8e59;
	right: 0;
	width: 100%;
	text-indent: 0;
}

.cs-skin-circular.cs-active > span::after {
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.cs-skin-circular > span[style]::after {
	content:'';
}

.cs-skin-circular .cs-selected span::after {
	content: '';
}

.cs-skin-circular.cs-active > span {
	-webkit-transform: scale3d(0.75,0.75,1);
	transform: scale3d(0.75,0.75,1);
}

.cs-skin-circular .cs-options {
	width: 100%;
	height: 100%;
	top: 0;
	color: #415c71;
	background: transparent;
	overflow: visible;
	font-size: 50%;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.cs-skin-circular.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-circular .cs-options ul,
.cs-skin-circular .cs-options li  {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cs-skin-circular .cs-options li {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	border-radius: 50%;
	opacity: 0;
	cursor: pointer;
	pointer-events: auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.1s;
	transition: transform 0.3s, opacity 0.1s;
	width:100px;
}

.cs-skin-circular.cs-active .cs-options li {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	list-style-type: none;
}

.cs-skin-circular.cs-active .cs-options li:hover {
	
}





@media only screen and (max-width: 375px) {

.cs-skin-circular.cs-active .cs-options li:first-child {
	-webkit-transform: translate3d(0, -138px, 0) !important;
	transform: translate3d(0, -138px, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(2) {
	-webkit-transform: translate3d(100.14px, -100.14px, 0) !important;
	transform: translate3d(100.14px, -100.14px, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(3) {
	-webkit-transform: translate3d(138px, 0, 0) !important;
	transform: translate3d(138px, 0, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(4) {
	-webkit-transform: translate3d(100.14px, 100.14px, 0) !important;
	transform: translate3d(100.14px, 100.14px, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(5) {
	-webkit-transform: translate3d(0, 138px, 0) !important;
	transform: translate3d(0, 138px, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(6) {
	-webkit-transform: translate3d(-100.14px, 100.14px, 0) !important;
	transform: translate3d(-100.14px, 100.14px, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(7) {
	-webkit-transform: translate3d(-138px, 0, 0) !important;
	transform: translate3d(-138px, 0, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(8) {
	-webkit-transform: translate3d(-100.14px, -100.14px, 0) !important;
	transform: translate3d(-100.14px, -100.14px, 0) !important;
}

}








@media only screen and (max-width: 320px) {

.cs-skin-circular.cs-active .cs-options li:first-child {
	-webkit-transform: translate3d(0, -110px, 0) !important;
	transform: translate3d(0, -110px, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(2) {
	-webkit-transform: translate3d(80.14px, -80.14px, 0) !important;
	transform: translate3d(80.14px, -80.14px, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(3) {
	-webkit-transform: translate3d(110px, 0, 0) !important;
	transform: translate3d(110px, 0, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(4) {
	-webkit-transform: translate3d(80.14px, 80.14px, 0) !important;
	transform: translate3d(80.14px, 80.14px, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(5) {
	-webkit-transform: translate3d(0, 110px, 0) !important;
	transform: translate3d(0, 110px, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(6) {
	-webkit-transform: translate3d(-80.14px, 80.14px, 0) !important;
	transform: translate3d(-80.14px, 80.14px, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(7) {
	-webkit-transform: translate3d(-110px, 0, 0) !important;
	transform: translate3d(-110px, 0, 0) !important;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(8) {
	-webkit-transform: translate3d(-80.14px, -80.14px, 0) !important;
	transform: translate3d(-80.14px, -80.14px, 0) !important;
}

}


.cs-skin-circular.cs-active .cs-options li:first-child {
	-webkit-transform: translate3d(0, -160px, 0);
	transform: translate3d(0, -160px, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(2) {
	-webkit-transform: translate3d(113.14px, -113.14px, 0);
	transform: translate3d(113.14px, -113.14px, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(3) {
	-webkit-transform: translate3d(160px, 0, 0);
	transform: translate3d(160px, 0, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(4) {
	-webkit-transform: translate3d(113.14px, 113.14px, 0);
	transform: translate3d(113.14px, 113.14px, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(5) {
	-webkit-transform: translate3d(0, 160px, 0);
	transform: translate3d(0, 160px, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(6) {
	-webkit-transform: translate3d(-113.14px, 113.14px, 0);
	transform: translate3d(-113.14px, 113.14px, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(7) {
	-webkit-transform: translate3d(-160px, 0, 0);
	transform: translate3d(-160px, 0, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(8) {
	-webkit-transform: translate3d(-113.14px, -113.14px, 0);
	transform: translate3d(-113.14px, -113.14px, 0);
}

.cs-skin-circular .cs-options li span {
	display: none;
}

.cs-skin-circular .cs-options li.cs-focus {
	
}
.cs-skin-circular .cs-options li:nth-child(1) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/1.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(2) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/2.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(3) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/3.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(4) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/4.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(5) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/5.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(6) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/6.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(7) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/7.png?v=1510960026); }.cs-skin-circular .cs-options li:nth-child(8) { background-image: url(https://cdn.shopify.com/s/files/1/2299/3373/products/8.png?v=1510960026); }.cs-skin-boxes .cs-options li.swatch-1-jet-black { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/1-jet-black.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-1b-natural-black { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/1b-natural-black.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-2-darkest-brown { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/2-darkest-brown.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-4-dark-brown { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/4-dark-brown.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-8-light-chestnut-brown { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/8-light-chestnut-brown.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-30-auburn { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/30-auburn.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-99j-plum { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/99J-plum.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-613-blonde { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/613-blonde.png?v=1511009486); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-613-platinum-blonde { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/613-platinum-blonde.png?v=1511009496); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ash-blonde { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ash-blonde.png?v=1511009502); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-blue-steel { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/blue-steel.png?v=1511009508); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-burgundy-bistro { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/burgundy-bistro.png?v=1511009515); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ruby-red { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ruby-red.png?v=1511009583); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-burgundy { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/burgundy.png?v=1511009522); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-copper { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/copper.png?v=1511009531); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-light-blonde { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/light-blonde.png?v=1511009557); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-mahogany { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/mahogany.png?v=1511009568); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-mystic-turquoise { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/mystic-turquoise.png?v=1511009606); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-1b30 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-1B30.png?v=1511009623); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-1bt10 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-1BT10.png?v=1511009634); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-2t27 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-2T27.png?v=1511009690); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-4t30 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-4T30.png?v=1511009706); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-6t27 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-6T27.png?v=1511009718); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-10t24 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-10T24.png?v=1511009727); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ombre-18t22 { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ombre-18T22.png?v=1511009741); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-pink-pearl { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/pink-pearl.png?v=1511009753); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-purple-rain { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/purple-rain.png?v=1511009762); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-silver { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/silver-fox.png?v=1511009864); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-silver-grey-black { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/silver-grey-black.png?v=1511009873); background-position: top center; background-repeat: no-repeat; }.cs-skin-boxes .cs-options li.swatch-ultra-violet { background-image:  url(https://cdn.shopify.com/s/files/1/2299/3373/products/ultra-violet.png?v=1511009819); background-position: top center; background-repeat: no-repeat; } img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        width: auto;
      }