.boxes-select{
	margin-top: 0em;

}

div.cs-skin-boxes {
	background: transparent;
	font-size: 1.25em;
	font-weight: 700;
	max-width: 400px;
	z-index: 2000;
	color: #ffffff;
}

.boxesPreview{
    background-clip: padding-box;
    border-radius: 16px;
    height: 219px;
    overflow: hidden;
    position: relative;
    transform: scale3d(0.8, 0.8, 1);
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    width: 218px;
    display: inline-block;
    margin: 0 auto;
}
.boxesPreview span {
    background-color: #4e5b72;
    bottom: 0;
    letter-spacing: 1px;
    line-height: 1em;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    padding: 18px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	color: #ffffff;	
	font-size: 25px;
	font-weight: normal;
}
/*@media screen and (max-width: 30em) {
	div.cs-skin-boxes { font-size: 1em; }
}*/

.cs-skin-boxes > span {
	background: #2c3342;
	color: #ffffff;
	font-size: 25px;
	font-weight: normal;
}

.cs-skin-boxes > span::after,
.cs-skin-boxes.cs-active > span::after {
	font-family: 'icomoon';
	top: auto;
	-webkit-transform: none;
	transform: none;
	content: '\e014';
}

.cs-skin-boxes .cs-options {
	position: fixed;
	width: 100%;
	height: 88%;
	top: 0;
	left: 0;
	overflow: auto;
	background: #ffffff;
	font-size: 75%;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
	text-align:center;
}

::-webkit-scrollbar { 
    display: none; 
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

.cs-skin-boxes.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-boxes .cs-options ul {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
}

.cs-skin-boxes .cs-options li {
	height: 170px;
	width: 185px;
	max-height: 210px;
	max-width:202px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	border-radius: 16px;
	overflow: hidden;
	opacity: 0;
	border: 10px solid transparent;
	background-clip: padding-box;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	box-shadow: inset 0 0em 0 -2em #fff;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li { box-shadow: none; border-width: 3px; border-radius: 8px; max-height:150px; }
	.cs-skin-boxes .cs-options { height:100%; }
}

.cs-skin-boxes.cs-active .cs-options li {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(2) {
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(3) {
	-webkit-transition-delay: 0.02s;
	transition-delay: 0.02s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(4) {
	-webkit-transition-delay: 0.03s;
	transition-delay: 0.03s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(5) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(6) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(7) {
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(8) {
	-webkit-transition-delay: 0.07s;
	transition-delay: 0.07s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(9) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(10) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(11) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(12) {
	-webkit-transition-delay: 0.11s;
	transition-delay: 0.11s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(13) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(14) {
	-webkit-transition-delay: 0.13s;
	transition-delay: 0.13s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(15) {
	-webkit-transition-delay: 0.14s;
	transition-delay: 0.14s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(16) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(17) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(18) {
	-webkit-transition-delay: 0.17s;
	transition-delay: 0.17s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(19) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(20) {
	-webkit-transition-delay: 0.19s;
	transition-delay: 0.19s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(21) {
	-webkit-transition-delay: 0.20s;
	transition-delay: 0.20s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(22) {
	-webkit-transition-delay: 0.21s;
	transition-delay: 0.21s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(23) {
	-webkit-transition-delay: 0.22s;
	transition-delay: 0.22s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(24) {
	-webkit-transition-delay: 0.23s;
	transition-delay: 0.23s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(25) {
	-webkit-transition-delay: 0.24s;
	transition-delay: 0.24s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(26) {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(27) {
	-webkit-transition-delay: 0.26s;
	transition-delay: 0.26s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(28) {
	-webkit-transition-delay: 0.27s;
	transition-delay: 0.27s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(29) {
	-webkit-transition-delay: 0.28s;
	transition-delay: 0.28s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(30) {
	-webkit-transition-delay: 0.29s;
	transition-delay: 0.29s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(31) {
	-webkit-transition-delay: 0.30s;
	transition-delay: 0.30s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(32) {
	-webkit-transition-delay: 0.31s;
	transition-delay: 0.31s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(33) {
	-webkit-transition-delay: 0.32s;
	transition-delay: 0.32s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(34) {
	-webkit-transition-delay: 0.33s;
	transition-delay: 0.33s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(35) {
	-webkit-transition-delay: 0.34s;
	transition-delay: 0.34s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(36) {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(37) {
	-webkit-transition-delay: 0.36s;
	transition-delay: 0.36s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(38) {
	-webkit-transition-delay: 0.37s;
	transition-delay: 0.37s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(39) {
	-webkit-transition-delay: 0.38s;
	transition-delay: 0.38s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(40) {
	-webkit-transition-delay: 0.39s;
	transition-delay: 0.39s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(41) {
	-webkit-transition-delay: 0.40s;
	transition-delay: 0.40s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(42) {
	-webkit-transition-delay: 0.41s;
	transition-delay: 0.41s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(43) {
	-webkit-transition-delay: 0.42s;
	transition-delay: 0.42s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(44) {
	-webkit-transition-delay: 0.43s;
	transition-delay: 0.43s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(45) {
	-webkit-transition-delay: 0.44s;
	transition-delay: 0.44s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(46) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(47) {
	-webkit-transition-delay: 0.46s;
	transition-delay: 0.46s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(48) {
	-webkit-transition-delay: 0.47s;
	transition-delay: 0.47s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(49) {
	-webkit-transition-delay: 0.48s;
	transition-delay: 0.48s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(50) {
	-webkit-transition-delay: 0.49s;
	transition-delay: 0.49s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(51) {
	-webkit-transition-delay: 0.50s;
	transition-delay: 0.50s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(52) {
	-webkit-transition-delay: 0.51s;
	transition-delay: 0.51s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(53) {
	-webkit-transition-delay: 0.52s;
	transition-delay: 0.52s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(54) {
	-webkit-transition-delay: 0.53s;
	transition-delay: 0.53s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(55) {
	-webkit-transition-delay: 0.54s;
	transition-delay: 0.54s;
}

@.cs-skin-boxes .cs-options li.cs-selected::after {
	font-family: 'icomoon';
	content: '\e00d';
	color: #fff;
	position: absolute;
	font-size: 2em;
	top: 65%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
	transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
}

.cs-skin-boxes .cs-options li.cs-selected span::after {
	content: '';
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li.cs-selected::after { 
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
	}
}

/*
.cs-skin-boxes .cs-options li.swatch-1-jet-black {
	background-image: url(../img/colors/1-jet-black.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-1b-natural-black {
	background-image: url(../img/colors/1B-natural-black.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-2-darkest-brown {
	background-image: url(../img/colors/2-darkest-brown.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-4-dark-brown {
	background-image: url(../img/colors/4-dark-brown.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-6-medium-chestnut-brown {
	background-image: url(../img/colors/6-medium-chestnut-brown.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-8-light-chestnut-brown {
	background-image: url(../img/colors/8-light-chestnut-brown.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-27-strawberry-blonde {
	background-image: url(../img/colors/27-strawberry-blonde.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-30-auburn {
	background-image: url(../img/colors/30-auburn.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-613-blonde {
	background-image: url(../img/colors/613-blonde.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ash-blonde {
	background-image: url(../img/colors/ash-blonde.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-burgundy {
	background-image: url(../img/colors/burgundy.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-chocolate {
	background-image: url(../img/colors/chocolate.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-copper {
	background-image: url(../img/colors/copper.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-golden-blonde {
	background-image: url(../img/colors/golden-blonde.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-golden-brown {
	background-image: url(../img/colors/golden-brown.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-light-blonde {
	background-image: url(../img/colors/light-blonde.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-light-brown {
	background-image: url(../img/colors/light-brown.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-mahogany {
	background-image: url(../img/colors/mahogany.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-red {
	background-image: url(../img/colors/red.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-reddish-dark-blonde {
	background-image: url(../img/colors/reddish-dark-blonde.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-silver-fox {
	background-image: url(../img/colors/silver-fox.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-swedish-blonde {
	background-image: url(../img/colors/swedish-blonde.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-60-vanilla-creme-blonde {
	background-image: url(../img/colors/60-vanilla-creme-blonde.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-613-platinum-blonde {
	background-image: url(../img/colors/613-platinum-blonde.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-rosa-rosa {
	background-image: url(../img/colors/rosa-rosa.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-pink-pearl {
	background-image: url(../img/colors/pink-pearl.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-burgundy-bistro {
	background-image: url(../img/colors/burgundy-bistro.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-99J-plum {
	background-image: url(../img/colors/99J-plum.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ruby-red {
	background-image: url(../img/colors/ruby-red.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ultra-violet {
	background-image: url(../img/colors/ultra-violet.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-purple-passion {
	background-image: url(../img/colors/purple-passion.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-blue-steel {
	background-image: url(../img/colors/blue-steel.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ombre-2T27 {
	background-image: url(../img/colors/ombre-2T27.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ombre-3T6 {
	background-image: url(../img/colors/ombre-3T6.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ombre-4T30 {
	background-image: url(../img/colors/ombre-4T30.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ombre-1BT10 {
	background-image: url(../img/colors/ombre-1BT10.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ombre-2T33 {
	background-image: url(../img/colors/ombre-2T33.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ombre-1B30 {
	background-image: url(../img/colors/ombre-1B30.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ombre-reds {
	background-image: url(../img/colors/ombre-reds.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ombre-10T24 {
	background-image: url(../img/colors/ombre-10T24.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ombre-18T22 {
	background-image: url(../img/colors/ombre-18T22.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-ombre-6T27 {
	background-image: url(../img/colors/ombre-6T27.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-purple-rain {
	background-image: url(../img/colors/purple-rain.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-mermaid-artic-grape {
	background-image: url(../img/colors/mermaid-artic-grape.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-mermaid-blues {
	background-image: url(../img/colors/mermaid-blues.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-mermaid-true-mermaid {
	background-image: url(../img/colors/mermaid-true-mermaid.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-mermaid-blue-sea-green {
	background-image: url(../img/colors/mermaid-blue-sea-green.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-under-the-sea {
	background-image: url(../img/colors/under-the-sea.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-mermaid-purple-flesh {
	background-image: url(../img/colors/mermaid-purple-flesh.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-mermaid-sorbet {
	background-image: url(../img/colors/mermaid-sorbet.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-silver-grey-black {
	background-image: url(../img/colors/silver-grey-black.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-green-grape {
	background-image: url(../img/colors/green-grape.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.cs-skin-boxes .cs-options li.swatch-mystic-turquoise {
	background-image: url(../img/colors/mystic-turquoise.png);
	background-position: top center;
	background-repeat: no-repeat;
}
*/
.cs-skin-boxes .cs-options span {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color:#4e5b72;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: normal;
}

/*@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options span { display: none; }
}*/

.cs-skin-boxes .cs-options li span:hover,
.cs-skin-boxes li.cs-focus span,
.cs-skin-boxes li.cs-selected span {
	color: #CC9966;
}
.color-pick{
	padding:10px;
	border:0;
	font-size:25px;
}
@media screen and (max-width: 1200px) {
	.cs-select ul span,
	boxesPreview span{
		padding: 15px 10px;
	}
}
@media screen and (max-width: 740px) {
	.cs-skin-boxes .cs-options li
	{
		height: 165px;
		width: 33%;
	}
	.cs-select ul span,
	{
		padding: 10px;
		font-size: 15px;
	}
}
@media screen and (max-width: 600px) {
	.cs-skin-boxes .cs-options li
	{
		
	}
}
@media screen and (max-width: 480px) {
	.cs-skin-boxes .cs-options li.cs-selected::after{
		top:35%;
	}
}
@media screen and (max-width: 360px) {
	.cs-skin-boxes .cs-options li {
		
	}
}